.locations-modal {
  padding: 16px 25px;
}

.location-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}

.location-modal-content__description {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.locations-modal_close_btn {
  cursor: pointer;

  path {
    fill: rgba(0, 17, 34, 0.3);
  }
}

.location-modal-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px 25px;
}
