{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "max-line-length": null,
    "string-quotes": "single",
    "value-list-comma-newline-after": null,
    "value-list-comma-space-after": "always-single-line",
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["inside-block"]
      }
    ],
    "at-rule-no-unknown": null,
  }
}
