@import '../../../style/variables.scss';

.location-card {
  position: relative;
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 25px;
  border: 1px solid $primary-border-color;
  background-color: rgba(246, 246, 246, 0.2);
  cursor: pointer;

  &:hover {
    background-color: rgb(246, 246, 246);
  }
}

.location-card_item__hover-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  padding-right: 0;
}
