.modal {
  display: flex;
  width: 440px;
  height: 350px;
  background-color: white;
  position: fixed;
  top: 50%;
  margin-top: -175px;
  z-index: 5;
  left: calc(50% - 220px);
  box-shadow: 0 8px 16px -4px rgba(0, 17, 34, 1);
}

.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #001122;
  opacity: 0.4;
  z-index: 4;
}
